---
import BaseLayout from '../layouts/BaseLayout.astro';
import Greeting from '../components/Greeting';
const pageTitle = "santiago gaete";
---
<BaseLayout pageTitle={pageTitle}>
			<h1>{pageTitle}</h1>
</BaseLayout>

<body class="hey">
	<h1 class="sorry">this site is currently <span id="green">under construction.</span> sorry!</h1>
	<h2 class="but-wait">feel free to check out my <a class="linker" href="/about">about</a> or <a class="linker" href="/portfolio">portfolio,</a> though!</h2>
	
</body>

<style>
	.hey {
		display: flex;
  align-items: center; /* Vertically centers content within the flex container */
  height: 100vh;	
	}
	.sorry {
		padding-top:7.5rem;
		text-align:center;
	}
	.but-wait {
		text-align:center;
	}
	#green {
		background-color: #70b73e;
		color: #ecefeb;
		display: inline-block;
		padding: 0rem 1rem;
		border-radius: 8px;
	}
</style>