---
import BaseLayout from '../layouts/BaseLayout.astro';
import Greeting from '../components/Greeting';
const pageTitle = "santiago gaete";
---
<BaseLayout pageTitle={pageTitle}>
			<h1>{pageTitle}</h1>
</BaseLayout>

<body class="hey">
	<h1 class="sorry">this site is currently under construction. sorry!</h1>
	<h2 class="but-wait">feel free to check out my <a href="/portfolio">portfolio,</a> though!</h2>
</body>

<style>
	.hey {
		display: flex;
  align-items: center; /* Vertically centers content within the flex container */
  height: 100vh;	
	}
	.sorry {
		padding-top:7.5rem;
		text-align:center;
		text-decoration: underline;
		text-underline-offset: 0.4rem;
		text-decoration-color:#70b73e;
	}
	a {
		text-underline-offset: 0.15rem;
	}
	.but-wait {
		text-align:center;
	}
</style>