---
---

<div class="nav-links">
    <a href="/" class="hometext">sgaete</a>
    <a href="/about/">About</a>
    <a href="/portfolio">Portfolio</a>
</div>

<style>
    .nav-links a{
        vertical-align:middle;
    }
    .hometext {
        font-size:1.9rem;
    }
</style>
